.app {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;

  direction: rtl;
  overflow: hidden;
}

.image-container {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container > img {
  width: 40vw;
  height: auto;
}

@media only screen and (orientation : landscape) {
  .image-container > img {
    width: auto;
    height: 40vh;
  }
}


.content-container {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.content {
  height: 40%;
  width: 100%;
}

.options {
  width: 45%;
  height: auto;
}
.options>* {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Pokemon GB";
  src: url("./fonts/STANB___.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
